body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1a1a1a;
    color: white;
    padding: 20px;
    margin: 0;
}

.content-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    border-spacing: 0px 10px;
    border-collapse: separate;
}

.content-table thead tr {
    background-color: #333;
    color: #ffffff;
    text-align: left;
    box-shadow: 1px 1px 10px rgba(0,0,0.6);
    font-size: larger;
}
.content-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #333;
}

.content-table tbody tr {
    background-color: #1a1a1a;
}

.content-table tbody tr:nth-of-type(odd) {
    background-color: #222;
}

.content-table tbody td {
    color: #ddd;
}

.content-table tbody tr:hover {
    background-color: #333;
}



.searchBox {
    position: absolute;
    transform:  translate(-50%,50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    margin-left:940px;
    margin-top:15px;
}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}   

.searchBox:hover > .searchButton {
  background: white;
  color : #2f3640;
}

.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
}

.imgL {
    width:20px;
    
}


header {
    height:120px;
    display:flex;
    
}

.head-left {
    width:50%;
    
}

.head-right {
    width:50%;
}
.favorite-btn {
    /* Style par défaut du bouton */
    border: none;
    background: none;
}

.favorite {
    color: red; /* Changez la couleur pour les favoris */
}