{{define "accueil"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Leaderboard des Cryptomonnaies</title>
</head>
<body>
<header>
    <div class="head-left">
        <img src="../static/images/logo.png" class="logo">
        <form action="/filter_submit" method="post">
            <label for="numCoins">Nombre de coin:</label>
            <select name="numCoins" id="numCoins">
                <option value="12">12</option>
                <option value="24">24</option>
                <option value="36">36</option>
                <option value="48">48</option>
            </select>
            <input type="submit" value="Submit">
        </form>
    <div class="head-right">
        <form action="/search" method="get">
            <div class="searchBox">
                <input class="searchInput" type="text" name="Symbol" placeholder="Search">
                <button class="searchButton" type="submit">
                    <i class="material-icons">
                        <img class="imgL" src="../static/images/loupe.png">
                    </i>
                </button>
            </div>
        </form>
    </div>
</header>     
<table class="content-table">
    <thead>
        <tr>
            <th></th> <!-- For image -->
            <th>Symbole</th>
            <th>Prix (USD)</th>
            <th>24h %</th>
            <th>Cap. Marché</th>
        </tr>
    </thead>
    <tbody>
        {{range .Data}}
        <tr class="content">
            <td>
                <!-- Ensure the symbol is lowercase for the image URL -->
                <img src="https://assets.coincap.io/assets/icons/{{.Symbol}}@2x.png" alt="{{.Symbol}}">
            </td>
            <td>{{.Symbol}}</td>
            <td>${{printf "%.2f" .Quote.USD.Price}}</td>
            <td>{{printf "%.2f%%" .Quote.USD.PercentChange24h}}</td>
            <td>${{printf "%.0f" .Quote.USD.MarketCap}}</td>
            <td>
                <form action="/favorite" method="POST">
                    <input type="hidden" name="symbol" value="{{.Symbol}}">
                    <button type="submit">❤️</button>
                </form>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
</body>
</html>
{{end}}
